
########################################################################################################################
########################################################################################################################
# Basic configuration properties for ExplorerCat [config.*]
# Jacob Almagro-Garcia -jg10@sanger.ac.uk - Summer of 2010				
########################################################################################################################
########################################################################################################################

# ----------------------------------------------------------------------------------------------------------------------
# Pre-calculated queries [config.precalculated.*]
# ----------------------------------------------------------------------------------------------------------------------

# Path to the XML file that stores all the precalculated queries.
config.precalculated.queriesFile=$GENERIC_PATH/src/resources/precalculated-queries/precalculated-queries.xml

# ----------------------------------------------------------------------------------------------------------------------
# Resources [config.resources.*]
# ----------------------------------------------------------------------------------------------------------------------

# Path to the XML file that describes all the static resources available.
config.resources.staticResourcesFile=$GENERIC_PATH/src/resources/static-resources/static-resources.xml

# ----------------------------------------------------------------------------------------------------------------------
# Uploads [config.upload.*]
# ----------------------------------------------------------------------------------------------------------------------

# Path to the folder where the uploaded resources will be placed.
config.upload.folder=$ECTEMP_PATH/uploads

# ----------------------------------------------------------------------------------------------------------------------
# CompactCat catalogs [config.catalogs.*]
# ----------------------------------------------------------------------------------------------------------------------

# Path to the folder where all the CompactCat files for the catalogs deployed are stored.
config.catalogs.folder=$ECTEMP_PATH/catalogs

# Files zipped into a CompactCat catalog file.
config.catalogs.dicFilename=dictionary.dic
config.catalogs.datFilename=data.dat


# ----------------------------------------------------------------------------------------------------------------------
# Downloads [config.download.*]
# ----------------------------------------------------------------------------------------------------------------------

# Path to the folder where the downloadable resources will be generated.
config.download.folder=$ECTEMP_PATH/downloads

# Limit in size when generating a resource.
config.download.maxFileSizeInMB=50

# Limit for the number of the resources being generated/accessed at the same time.
# Any request will be denied till we are under the limit again.
config.download.maxNumConcurrentResources=100

# Time interval for removing expired resources.
config.download.cleaningIntervalInSeconds=1802

# Expiration time for a resource (since it is created).
config.download.fileExpirationTimeInSeconds=3600

# ----------------------------------------------------------------------------------------------------------------------
# Front page options [config.frontpage.*]
# ----------------------------------------------------------------------------------------------------------------------

# Number of recent news to show in the front page.
config.frontpage.news=5

# ----------------------------------------------------------------------------------------------------------------------
# Database configuration (uris and aliases) [config.db.*]
# ----------------------------------------------------------------------------------------------------------------------

# Default URI to be accessed.
config.db.default.uri=java:comp/env/jdbc/explorercat-test

# Secondary URIs and aliases (still not in use, leave them blank).
config.db.secondary.uris=
config.db.secondary.aliases=

# ----------------------------------------------------------------------------------------------------------------------
# DAO configuration [config.dao.implementation.*]
# ----------------------------------------------------------------------------------------------------------------------

# Implementation classes for each DAO.
# Light DAOs are always cached into memory.
config.dao.class.catalog=net.explorercat.dataaccess.cached.mysql.CatalogDAOCachedMySQL
config.dao.class.news=net.explorercat.dataaccess.cached.mysql.NewsDAOCachedMySQL
config.dao.class.user=net.explorercat.dataaccess.cached.mysql.UserDAOCachedMySQL
config.dao.class.pluginHash=net.explorercat.dataaccess.mysql.PluginHashDAOMySQL

# Heavy DAOs (like QueryableDataEntity) have several implementations.
#config.dao.class.entity=net.explorercat.dataaccess.cached.mysql.QueryableDataEntityDAOCachedMySQL
config.dao.class.entity=net.explorercat.dataaccess.mysql.QueryableDataEntityDAOMySQL

# ----------------------------------------------------------------------------------------------------------------------
# CompactCat catalog deployer configuration [config.catalogDeployer.*]
# ----------------------------------------------------------------------------------------------------------------------

# Table that contains all the info about catalogs.
config.catalogDeployer.mysql.tables.catalogs=catalogs

# Prefix for all the DRR generated tables.
config.catalogDeployer.mysql.tables.prefix=catalog 

# Table name separator.
config.catalogDeployer.mysql.tables.separator=_

# Suffixed to be appended to each type of table.
config.catalogDeployer.mysql.tables.dictionary.suffix=dictionary
config.catalogDeployer.mysql.tables.entities.suffix=entities
config.catalogDeployer.mysql.tables.stats.suffix=stats

# Name for the entity unique identifier column
config.catalogDeployer.mysql.tables.uniqueId=__id

# ----------------------------------------------------------------------------------------------------------------------
# Data provider configuration [config.sqldataprovider.*]
# ----------------------------------------------------------------------------------------------------------------------

# Builder implementation class (in charge of creating the providers).
config.sqldataconnector.class.builder=net.explorercat.util.sql.dataconnectors.mysql.MySQLDataConnectorBuilder

# Implementation class for the data provider (can choose between debug/production).
config.sqldataconnector.class=net.explorercat.util.sql.dataconnectors.mysql.ProductionMySQLDataConnector		 

# ----------------------------------------------------------------------------------------------------------------------
# SmartCache configuration [config.smartCache.*]
# Note the unit for memory limit is MB and it is used for each catalog independently.
# So if you specify 20 and there are 5 catalogs, the maximum footprint for all the caches is 100 MB (20 each).
# ----------------------------------------------------------------------------------------------------------------------

# Enables/disables the cache {true,false}
config.smartCache.enabled=true

# Memory limit for each catalog cache.
config.smartCache.memorylimitInMB=512

# List of catalogs to be excluded (won't have a cache). 
# Each number represent a catalog identifier.
# Example: 1,2,3 will exclude the first 3 catalogs.
config.smartCache.catalogExclusionList=

# ----------------------------------------------------------------------------------------------------------------------
# Pagination cache configuration [config.resultsCache.*]
# ----------------------------------------------------------------------------------------------------------------------

# Maximum number of results in the cache.
config.resultPaginationCache.numEntriesLimit=200

# Expiration time for a result (since last access).
config.resultPaginationCache.expirationTimeInMinutes=15

# Time interval for removing expired results.
config.resultPaginationCache.cleaningIntervalInSeconds=1800

# ----------------------------------------------------------------------------------------------------------------------
# API request tracker configuration [config.apiRequestTracker.*]
# ----------------------------------------------------------------------------------------------------------------------

# Duration of each tracking interval (in seconds).
config.apiRequestTracker.requestCountInterval=600

# Maximum number of requests per address per interval.
config.apiRequestTracker.maxRequestsPerInterval=10000

# ----------------------------------------------------------------------------------------------------------------------
# JavaScript lib configuration [config.javascript.lib.*]
# ----------------------------------------------------------------------------------------------------------------------

# JQuery version.
config.javascript.lib.jquery=jquery-1.4.2.min.js

# Connectors library, simplifies access to the server via API.
config.javascript.lib.expcat=expcat.js

# ----------------------------------------------------------------------------------------------------------------------
# Plug-in configuration [config.plugins.*]
# ----------------------------------------------------------------------------------------------------------------------

# Path to the plug-ins container folder.
config.plugins.folderPath=$GENERIC_PATH/WebContent/plugins

# Filename of the manifest file in charge of describing a plug-in.
config.plugins.manifestFilename=manifest.xml

# Name of the JavaScript object that will provide access to all
# the parameters of the action (the plug-in can access them querying this object).
config.plugins.js.parameterLookupName=PluginParameterLookup

# Default icon to be used when no icon is specified for a plug-in.
# Path has to be relative to the plugins folder.
config.plugins.defaultIcon=defaultIcon.jpg

# Limit (in MB) for the configuration hash cache.
config.plugins.configurationHashCacheMemoryLimit=50

# Limit (in MB) for the configuration hash cache
config.plugins.configurationHashBackupFilePath=$ECTEMP_PATH/PermanentPluginHashes.dat

